<h3 style="color: #fd5c63">Assignment Details</h3>
<div class="assignment-details">
  <ol>
    <li>Add a input field which updates a property ('username') via Two-way Binding</li>
    <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
    <li>Add a button which may only be clicked if the username is NOT an empty string</li>
    <li>Upon clicking the button, the username should be reset to an empty string</li>
  </ol>
</div>
<app-username></app-username>